django==5.2.8
pymysql==1.1.2
django-extensions
ipython
python-dotenv==1.1.1
segno
wechatpy
cryptography
django-redis
celery==5.4.0
xpinyin
Pillow==10.4.0
markdown==3.7
concurrent-log-handler==0.9.28
django-changelog==0.1.2
chinesecalendar==1.11.0
playwright==1.58.0
