<div class="space-y-6">
    {# 概况板块 #}
    {% include "web_doctor/partials/home/overview.html" %}
    {# 当前用药板块 #}
    {% include "web_doctor/partials/home/medication.html" %}
    {#  待确认 复查/诊疗板块 #}
    {% comment %} {% include "web_doctor/partials/home/checkup_timeline.html" %} {% endcomment %}
    {#  待确认 检查报告板块 #}
    {% comment %} {% include "web_doctor/partials/home/reports.html" %} {% endcomment %}
</div>

{# OOB 更新 Tab 栏状态 #}
{% include "web_doctor/partials/patient_workspace_tabs.html" with oob=True %}
