<div
  class="bg-white rounded-xl shadow-sm border border-slate-200 overflow-hidden p-4"
>
  <div class="flex items-center gap-2 mb-3 border-l-4 border-blue-500 pl-2">
    <h3 class="font-bold text-gray-800">管理数据统计</h3>
  </div>

  <!-- 常规监测指标 -->
   <p class="text-gray-600 mb-2">常规监测指标</p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- 1. 服药统计 -->
    {% include "web_doctor/partials/management_stats/stats_medication_chart.html" %}
    <!-- 2. 体温统计 -->
    {% include "web_doctor/partials/management_stats/stats_temp_chart.html" %}
    <!-- 3. 血氧统计 -->
    {% include "web_doctor/partials/management_stats/stats_oxygen_chart.html" %}

    <!-- 4. 血压统计 -->
    {% include "web_doctor/partials/management_stats/stats_blood_pressure_chart.html" %}

    <!-- 5. 心率统计 -->
    {% include "web_doctor/partials/management_stats/stats_heart_rate_chart.html" %}

    <!-- 6. 体重统计 -->
    {% include "web_doctor/partials/management_stats/stats_weight_chart.html" %}

     <!-- 7. 步数统计 -->
    {% include "web_doctor/partials/management_stats/stats_step_chart.html" %}

  </div>

  <!-- 复查指标 -->
  {% if followup_review_charts %}
    <p class="text-gray-600 mb-2 border-t border-t-slate-300 border-dashed pt-5 mt-5">复查指标</p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {% for followup_chart in followup_review_charts %}
        {% include "web_doctor/partials/management_stats/stats_chart_base.html" with chart=followup_chart icon_type="checkup" %}
      {% endfor %}
    </div>
  {% endif %}

  <!-- 随访问卷 -->
  <p class="text-gray-600 mb-2 border-t border-t-slate-300 border-dashed pt-5 mt-5">随访问卷</p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6  ">
    {% for questionnaire_chart in questionnaire_count_charts %}
      {% include "web_doctor/partials/management_stats/questionnaire_stats_chart.html" with chart=questionnaire_chart %}
    {% empty %}
      <div class="col-span-full rounded-lg bg-slate-50 p-6 text-center text-sm text-slate-500">暂无启用的随访问卷</div>
    {% endfor %}
  </div>
</div>
